html {
  scroll-behavior: smooth;
}

* {
  font-family: helvetica;
}

body {
  background: var(--colorBackground);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --colorBackground: #000000;
  --colorContainer: #151516;
  --colorTransparent: rgba(0, 0, 0, 0.4);
  --colorMenuBackground: rgba(29, 29, 31, 0.72);
  --colorMenuBorder: rgba(255, 255, 255, 0.24);
  --colorScrollbarTrack: #0f0f0f;
  --colorScrollbarTrackBorder: #1c1c1c;
  --colorFont: #ffffff;
  --colorBtn: #ffffff;
  --colorBtnReverse: #1d1d1f;
}

#startText {
  text-align: center;
  width: 500px;
  margin-left: 50px;
}

#imgKeyBoard {
  margin-top: 0px;
}

/*Apple Menu Bar*/

/* .ulContainer {
  background-color: blue;
  width: 50%;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
} */

.menu-bar {
  width: 100%;
  border-bottom: 1px solid var(--colorMenuBorder);
  height: 55.5px;
  position: fixed;
  background-color: var(--colorMenuBackground);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu-bar a {
  color: var(--colorFont);
}

.menu-bar li {
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 14px 16px;
  margin: 0 0 0 25px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
  list-style: none;
}

.menu-bar li:hover > a {
  color: var(--colorBackground);
}

.menu-bar li:hover::before {
  background-color: var(--colorFont);
  transform: scale(1.2);
}

main {
  display: flex;
  align-items: center;
}

/*gamesLibrary*/

.menu-bar li:hover::before {
  background-color: var(--colorFont);
  transform: scale(1.2);
}

/* Image Zoom */

.zoom {
  transition: transform 0.2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.alerts-border {
  border: 3px solid white;

  animation: blink 1s;
  animation-iteration-count: 3;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

#fortnitePicture {
  width: 175px;
  height: 250px;
}

#minecraftPicture {
  width: 175px;
  height: 250px;
}

#csgoPicture {
}
