body {
    background: var(--colorBackground);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
}

:root {
    --colorBackground: #000000;
    --colorContainer: #151516;
    --colorTransparent: rgba(5, 3, 3, 0.4);
    --colorMenuBackground: rgba(29, 29, 31, 0.72);
    --colorMenuBorder: rgba(255, 255, 255, 0.24);
    --colorScrollbarTrack: #0f0f0f;
    --colorScrollbarTrackBorder: #1c1c1c;
    --colorFont: #ffffff;
    --colorBtn: #ffffff;
    --colorBtnReverse: #1d1d1f;
}

#fortnitePicture {
    width: 244px;
    height: 350px;
}

.text-box {
    position: relative;
    display: inline-block;
    max-width: 490px;
    vertical-align: middle;
    text-align: left;
    padding: 30px 25px;
    margin: 50px 0 50px -30px;
    border-radius: 20px;
}

.white {
    background: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.black {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

img {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin: 0;
    max-width: 500px;
    border: 3px solid white;
}

#header {
    margin: 0px;
    padding: 0px;
}